---
title: Al-Anon meetings in Ames Iowa USA
---
{% include "head.njk" %}
<body class="is-flex is-flex-direction-column">
  {% include "nav.njk" %}
  {{ content | safe }}
  {% renderFile "./src/_11ty/_includes/footer.md" %} {# render footer.md first then add it to the stream because footer is markdown and must be rendered first #}
  {% include "footer.njk" %}
</body>
</html>

