---
title: Ames Iowa Al-Anon Meetings AFG
featuredImage: /_images/default.jpg
---
  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}

    <main class="section is-flex-grow-1">


      <article class="container articulo">
        <header class=" container has-text-centered">

          <h1 class="title is-2 is-size-4-mobile has-text-weight-bold">{{ title }}</h1>
          <p class="subtitle is-size-6 has-text-grey-dark has-text-weight-light is-family-sans-serif">{{ description }}</p>
          <br>  
        </header>

        <div class="is-flex">

          <div class="articulo-content content mb-0">

            {{ content | safe }}

          <div class="tags is-justify-content-center mt-6">
            {% for tag in tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
          
          {% if featuredImage %}
          <figure class="image featured-image py-5">
            <img src="{{featuredImage}}" alt="{{title}}" class="image is-fullwidth">
          </figure>
        {% endif %}

      </article>
    </main>

    {% if config.showRelatedMeetings %}
      {% include "related-meetings.njk" %}
    {% endif %}

    {% renderFile "/Users/edh/Sites/AmesAl-Anon/src/_11ty/_includes/footer.md" %} {# render footer.md first then add it to the stream Ed H added 4/22/2026 #}
    {% include "footer.njk" %}
  </body>

</html>